.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
BASURA/**
test/**
doc/**
*.md
!README.md
.git/**
.github/**
node_modules/**
*.cmd
test-wasm-functions.js
CHANGELOG.md
DSK_STATUS.md
DSK_SUPPORT.md
QUICK_TEST_DSK.md
webpack.config.js
.eslintrc.json
.DS_Store
*.vsix
*.tgz
package-lock.json
devcpc.conf
